@using MvcOnlineCommerceAutomation.Models.Classes
@model List<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>Görsel</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.ProductId</td>
            <td>@u.ProductName</td>
            <td>@u.ProductBrand</td>
            <td>@u.ProductStock</td>
            <td>@u.ProductPurchasePrice</td>
            <td>@u.ProductSalePrice</td>
            <td>@u.Category.CategoryName</td>
            <td>@u.ProductImage</td>
            <td>
                <a href="/Product/UrunSil/@u.ProductId" class="btn btn-danger">Sil </a>
            </td>
            <td>
                <a href="/Product/UrunGetir/@u.ProductId" class="btn btn-success">Güncelle </a>
            </td>
        </tr>

    }
</table>
<a href="/Product/YeniUrun" class="btn btn-info">Yeni Ürün Ekle</a>