@model MvcOnlineCommerceAutomation.Models.Classes.Class4
@{
    ViewBag.Title = "Dinamik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<div class="panel panel-default">

    <div class="panel-heading">

        <div class="row">

            <h2 class="panel-title pull-left" style="margin-left:10px;">

                <strong>Order Details</strong>

            </h2>

            <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="addNewOrder()">New Order</button>

        </div>

    </div>

    @*Fatura Listesi*@

    @foreach (var item in Model.deger1)

    {

        <div class="panel-body">

            <table class="table table-striped table-responsive">

                <tbody>

                    <tr>

                        <td>Seri- Sıra no : @item.BillSerialNo - @item.BillSiraNo </td>
                        <td>Tarih : @item.BillDate </td>
                        <td>Tarih : @item.TaxOffice </td>

                    </tr>
                    <tr>

                        <td colspan="3">

                            <table class="table table-bordered">

                                <tbody>

                                    <tr>

                                        <th>Açıklama</th>

                                        <th>Miktar</th>

                                        <th>Fiyat</th>


                                    </tr>

                                    @{

                                        var totalBill = 0;

                                    }
                                    @if (item.InvoiceAdditionss !=null)
                                    {
                                        foreach (var order in item.InvoiceAdditionss)
                                        {

                                            <tr>

                                                <td>@order.InvoiceDescription.ToString()</td>

                                                <td>@order.InvoiceAmount.ToString()</td>

                                                <td>@order.InvoiceUnitPrice.ToString()</td>


                                            </tr>

                                            totalBill = totalBill + @Convert.ToInt32(order.InvoiceTotalPrice);

                                        }

                                    }




                                </tbody>

                            </table>

                            <span class="pull-right" style="margin-right:100px;"><strong>Total Bill :  </strong> </span>

                        </td>

                    </tr>


                </tbody>

            </table>

        </div>

    }




</div>

