@using MvcOnlineCommerceAutomation.Models.Classes
@model List<Employee>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.d</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>Personel Id</th>
        <th> Ad</th>
        <th> Soyad</th>
        <th> Görsel</th>
        <th> Satışlar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.EmployeeID</td>
            <td>@x.EmployeeName</td>
            <td>@x.EmployeeSurname</td>
            <td>@x.EmployeeImage</td>
            <td> <a href="/Department/DepartmanPersonelSatis/@x.EmployeeID" class="btn btn-success">Detay</a></td>
        </tr>
    }


</table>

